@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .heading {
        font-family: 'EudoxusSans-Bold';
        opacity: 80%;
        line-height: 130%;
    }
    .label {
        font-family: 'EudoxusSans-Bold';
        font-style: normal;
        font-weight: 700;
        opacity: 80%;
        line-height: 130%;
    }
}

progress::-moz-progress-bar {
    background-color: white 0.8;
}

progress::-webkit-progress-value {
    background-color: white 0.8;
}

progress {
    background-color: white 0.8;
}